
/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* -------- CODE -------- */  

/* inizio header */
header{
    height: 120px;
    padding: 25px 20px;
}

header .container{
    height: 70px;
    max-width: 1170px;
    border: 3px solid black;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-game button{
    padding: 2px 25px;
}
/* fine header */



/* inizio main */
main{
    height: calc(100vh - 120px - 80px);
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: coral;
}

#grid.d-none{
    display: none;
}
/* fine main */



/* inizio footer */
footer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container{
    width: 1170px;
    padding: 0 20px;
}
/* fine footer */